@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Welcome The Cloth Shop</h1>
    <img src="~/images/backgroundimg.jpg" class="w-100"/>
    <a class="btn btn-primary m-2 text-white" asp-area="" asp-page="/CustomOrder">Go To Cutomize Order</a>
</div>
